tmp-exec14.json
[{"startData":"1","resultData":"2","executionData":"3"},{},{"runData":"4","lastNodeExecuted":"5"},{"contextData":"6","nodeExecutionStack":"7","waitingExecution":"8"},{"WAHA Webhook":"9","Normalize Incoming Message":"10","Log Inbound Chat":"11","Get MVP Config":"12","Merge Config":"13","Detect Opt Out Command":"14","If Opt Out Command":"15","Detect Document":"16","Classify Intent":"17","Parse Intent":"18","If Ask Document":"19","Build Ask Document Reply":"20","Log Outbound Chat":"21","Send WhatsApp Reply":"22"},"Send WhatsApp Reply",{},[],{},["23"],["24"],["25"],["26"],["27"],["28"],["29"],["30"],["31"],["32"],["33"],["34"],["35"],["36"],{"hints":"37","startTime":1774581471195,"executionTime":0,"source":"38","executionStatus":"39","data":"40"},{"hints":"41","startTime":1774581471196,"executionTime":7,"source":"42","executionStatus":"39","data":"43"},{"hints":"44","startTime":1774581471204,"executionTime":5,"source":"45","executionStatus":"39","data":"46"},{"hints":"47","startTime":1774581471209,"executionTime":4,"source":"48","executionStatus":"39","data":"49"},{"hints":"50","startTime":1774581471213,"executionTime":8,"source":"51","executionStatus":"39","data":"52"},{"hints":"53","startTime":1774581471221,"executionTime":6,"source":"54","executionStatus":"39","data":"55"},{"hints":"56","startTime":1774581471227,"executionTime":0,"source":"57","executionStatus":"39","data":"58"},{"hints":"59","startTime":1774581471227,"executionTime":10,"source":"60","executionStatus":"39","data":"61"},{"hints":"62","startTime":1774581471237,"executionTime":1840,"source":"63","executionStatus":"39","data":"64"},{"hints":"65","startTime":1774581473077,"executionTime":7,"source":"66","executionStatus":"39","data":"67"},{"hints":"68","startTime":1774581473084,"executionTime":1,"source":"69","executionStatus":"39","data":"70"},{"hints":"71","startTime":1774581473085,"executionTime":5,"source":"72","executionStatus":"39","data":"73"},{"hints":"74","startTime":1774581473091,"executionTime":5,"source":"75","executionStatus":"39","data":"76"},{"hints":"77","startTime":1774581473097,"executionTime":15,"source":"78","executionStatus":"39","data":"79"},[],[],"success",{"main":"80"},[],["81"],{"main":"82"},[],["83"],{"main":"84"},[],["85"],{"main":"86"},[],["87"],{"main":"88"},[],["89"],{"main":"90"},[],["91"],{"main":"92"},[],["93"],{"main":"94"},[],["95"],{"main":"96"},[],["97"],{"main":"98"},[],["99"],{"main":"100"},[],["101"],{"main":"102"},[],["103"],{"main":"104"},[],["105"],{"main":"106"},["107"],{"previousNode":"108"},["109"],{"previousNode":"110"},["111"],{"previousNode":"112"},["113"],{"previousNode":"114"},["115"],{"previousNode":"116"},["117"],{"previousNode":"118"},["119","120"],{"previousNode":"121","previousNodeOutput":1},["122"],{"previousNode":"123"},["124"],{"previousNode":"125"},["126"],{"previousNode":"127"},["128","129"],{"previousNode":"130"},["131"],{"previousNode":"132"},["133"],{"previousNode":"132"},["134"],["135"],"WAHA Webhook",["136"],"Normalize Incoming Message",["137"],"Log Inbound Chat",["138"],"Get MVP Config",["139"],"Merge Config",["140"],"Detect Opt Out Command",[],["141"],"If Opt Out Command",["142"],"Detect Document",["143"],"Classify Intent",["144"],"Parse Intent",["145"],[],"If Ask Document",["146"],"Build Ask Document Reply",["147"],["148"],{"json":"149","pairedItem":"150"},{"json":"151","pairedItem":"152"},{"json":"153","pairedItem":"154"},{"json":"155","pairedItem":"156"},{"json":"157","pairedItem":"158"},{"json":"159","pairedItem":"160"},{"json":"159","pairedItem":"161"},{"json":"162","pairedItem":"163"},{"json":"164","pairedItem":"165"},{"json":"166","pairedItem":"167"},{"json":"166","pairedItem":"168"},{"json":"169","pairedItem":"170"},{"json":"171","pairedItem":"172"},{"json":"173","pairedItem":"174"},{"headers":"175","params":"176","query":"177","body":"178","webhookUrl":"179","executionMode":"180"},{"item":0},{"session":"181","event":"182","phone":"183","chatId":"184","text":"185","rawPayload":"186","rawEnvelope":"187"},{"item":0},{"success":true,"id":10},{"item":0},{"DailyRunTime":"188","DefaultDelayDays":3,"DefaultFallbackMessage":"189","InitialWhatsAppMessage":"190","LlmProvider":"191","IntentMode":"192","CampaignWindowStart":"188","CampaignWindowEnd":"193","CampaignCooldownMinutes":30,"CampaignDailyLimitPerPhone":1,"CampaignDedupeWindowMinutes":1440},{"item":0},{"session":"181","event":"182","phone":"183","chatId":"184","text":"185","rawPayload":"194","rawEnvelope":"195","fallbackMessage":"189","defaultDelayDays":3,"initialMessage":"190"},{"item":0},{"session":"181","event":"182","phone":"183","chatId":"184","text":"185","rawPayload":"196","rawEnvelope":"197","fallbackMessage":"189","defaultDelayDays":3,"initialMessage":"190","isOptOutCommand":false},{"item":0},{"item":0},{"session":"181","event":"182","phone":"183","chatId":"184","text":"185","rawPayload":"198","rawEnvelope":"199","fallbackMessage":"189","defaultDelayDays":3,"initialMessage":"190","isOptOutCommand":false,"document":"200"},{"item":0},{"id":"201","model":"202","created":1774581726,"usage":"203","citations":"204","search_results":"205","object":"206","choices":"207"},{"item":0},{"session":"181","event":"182","phone":"183","chatId":"184","text":"185","rawPayload":"208","rawEnvelope":"209","fallbackMessage":"189","defaultDelayDays":3,"initialMessage":"190","isOptOutCommand":false,"document":"200","intent":"210","classificationReason":"211"},{"item":0},{"item":0},{"session":"181","event":"182","phone":"183","chatId":"184","text":"185","rawPayload":"212","rawEnvelope":"213","fallbackMessage":"189","defaultDelayDays":3,"initialMessage":"190","isOptOutCommand":false,"document":"200","intent":"210","classificationReason":"211","replyText":"214","logIntent":"210"},{"item":0},{"success":true,"id":11},{"item":0},{"key":"215","message":"216","messageTimestamp":"217","status":"218"},{"item":0},{"accept":"219","content-type":"220","user-agent":"221","x-webhook-request-id":"222","x-webhook-timestamp":"223","content-length":"224","accept-encoding":"225","host":"226","connection":"227"},{},{},{"id":"228","timestamp":1774581471168,"event":"182","session":"181","me":"229","payload":"230","engine":"231","environment":"232"},"http://localhost:5678/webhook/waha-contas-receber","production","default","message","228376396718170","228376396718170@lid","12345678000199",{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"236"},{"id":"228","timestamp":1774581471168,"event":"182","session":"181","me":"237","payload":"238","engine":"231","environment":"239"},"08:00","Recebemos sua mensagem e em breve um operador do contas a receber dara continuidade ao atendimento.","Prezado cliente, identificamos um boleto vencido em aberto. Por gentileza, nos informe se precisa de apoio para regularizacao.","openai","parametrizable","18:00",{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"240"},{"id":"228","timestamp":1774581471168,"event":"182","session":"181","me":"241","payload":"242","engine":"231","environment":"243"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"244"},{"id":"228","timestamp":1774581471168,"event":"182","session":"181","me":"245","payload":"246","engine":"231","environment":"247"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"248"},{"id":"228","timestamp":1774581471168,"event":"182","session":"181","me":"249","payload":"250","engine":"231","environment":"251"},"12345678000","5936bf6a-369c-4fc9-b79b-084fe4278efe","sonar",{"prompt_tokens":167,"completion_tokens":41,"total_tokens":208,"search_context_size":"252","cost":"253"},["254","255","256","257","258","259","260","261"],["262","263","264","265","266","267","268","269"],"chat.completion",["270"],{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"271"},{"id":"228","timestamp":1774581471168,"event":"182","session":"181","me":"272","payload":"273","engine":"231","environment":"274"},"ask_document","Cliente forneceu CNPJ de 14 dígitos (12345678000199), mas ainda năo especificou intençăo sobre boleto ou pagamento",{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"275"},{"id":"228","timestamp":1774581471168,"event":"182","session":"181","me":"276","payload":"277","engine":"231","environment":"278"},"Para localizar seu boleto, por favor informe o CPF ou CNPJ vinculado ao cadastro.",{"remoteJid":"184","fromMe":true,"id":"279"},{"extendedTextMessage":"280","messageContextInfo":"281"},"1774581473","PENDING","application/json, text/plain, */*","application/json","WAHA/2026.3.3","gxz277mn8bzmio","1774581471168","1228","gzip, compress, deflate, br","n8n:5678","keep-alive","evt_01kmpmrny0w7k70jc73e21mj3p",{"id":"282","lid":"283"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"284"},"NOWEB",{"version":"285","engine":"231","tier":"286","browser":null,"platform":"287","worker":"288"},"false_228376396718170@lid_3EB0B1C6A5572E34F9BB6C","app","DEVICE",{"key":"289","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"291","status":3},{"id":"282","lid":"283"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"292"},{"version":"285","engine":"231","tier":"286","browser":null,"platform":"287","worker":"293"},{"key":"294","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"295","status":3},{"id":"282","lid":"283"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"296"},{"version":"285","engine":"231","tier":"286","browser":null,"platform":"287","worker":"297"},{"key":"298","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"299","status":3},{"id":"282","lid":"283"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"300"},{"version":"285","engine":"231","tier":"286","browser":null,"platform":"287","worker":"301"},{"key":"302","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"303","status":3},{"id":"282","lid":"283"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"304"},{"version":"285","engine":"231","tier":"286","browser":null,"platform":"287","worker":"305"},"low",{"input_tokens_cost":0.00017,"output_tokens_cost":0.00004,"request_cost":0.005,"total_cost":0.00521},"https://es.wikipedia.org/wiki/Documento_de_identidad","https://www.significadode.org/documento%20de%20identidad.htm","https://www.interior.gob.es/opencms/en/servicios-al-ciudadano/tramites-y-gestiones/dni/concepto-y-validez/","https://dpej.rae.es/lema/carn%C3%A9-de-identidad","https://www.boe.es/buscar/act.php?id=BOE-A-2025-6601","https://synonyms.reverso.net/sinonimo/es/documento+de+identificaci%C3%B3n","https://mailcommsgroup.com/blog/que-es-autenticar-un-documento/","https://www.4tomono.com/mono-culto/hablemos-del-idioma/cedula-de-identidad-o-de-identificacion-cual-es-el-termino-correcto/",{"title":"306","url":"254","date":"307","last_updated":"308","snippet":"309","source":"310"},{"title":"311","url":"255","date":"312","last_updated":"313","snippet":"314","source":"310"},{"title":"315","url":"256","date":"316","last_updated":"317","snippet":"318","source":"310"},{"title":"319","url":"257","last_updated":"320","snippet":"321","source":"310"},{"title":"322","url":"258","date":"323","last_updated":"324","snippet":"325","source":"310"},{"title":"326","url":"259","date":"327","last_updated":"328","snippet":"329","source":"310"},{"title":"330","url":"260","date":"331","last_updated":"332","snippet":"333","source":"310"},{"title":"334","url":"261","date":"335","last_updated":"336","snippet":"337","source":"310"},{"index":0,"message":"338","delta":"339","finish_reason":"340"},{"key":"341","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"342","status":3},{"id":"282","lid":"283"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"343"},{"version":"285","engine":"231","tier":"286","browser":null,"platform":"287","worker":"344"},{"key":"345","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"346","status":3},{"id":"282","lid":"283"},{"id":"233","timestamp":1774581724,"from":"184","fromMe":false,"source":"234","body":"185","hasMedia":false,"media":null,"ack":2,"ackName":"235","location":null,"vCards":null,"replyTo":null,"_data":"347"},{"version":"285","engine":"231","tier":"286","browser":null,"platform":"287","worker":"348"},"3EB02DBB98EDC012CCA146",{"text":"214"},{"messageSecret":"349"},"5511925383804@c.us","147283790295278@lid",{"key":"350","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"351","status":3},"2026.3.3","CORE","linux/x64",{"id":null},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},"Diogo Souza",{"conversation":"185","messageContextInfo":"356"},{"key":"357","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"358","status":3},{"id":null},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"359"},{"key":"360","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"361","status":3},{"id":null},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"362"},{"key":"363","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"364","status":3},{"id":null},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"365"},{"key":"366","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"367","status":3},{"id":null},"Documento de identidad - Wikipedia, la enciclopedia libre","2005-08-02","2026-03-20","Documento de identidad. documento que contiene datos de identificación personal.","web","DOCUMENTO DE IDENTIDAD - Diccionario Abierto de Espańol","2025-04-05","2025-07-18","Es una tarjeta o papel que tiene datos personales de personas en donde está anotado la fecha de nacimiento, lugar de nacimeinto y dirección. Sinónimos de ...","Concepto y Validez - Ministerio del Interior","2025-03-01","2025-10-14","El Documento Nacional de Identidad es un documento público, oficial, personal e intransferible emitido por el Ministerio del Interior, a través de la ...","carné de identidad - Diccionario panhispánico del espańol jurídico","2025-07-26","1. Adm. Documento expedido por la autoridad gubernativa del Estado en el que constan los datos personales básicos del ciudadano titular del mismo y que ...","Real Decreto 255/2025, de 1 de abril, por el que se regula ... - BOE.es","2025-04-02","2026-02-23","El Documento Nacional de Identidad es un documento personal e intransferible emitido por el Ministerio del Interior, a través de la ...","Sinónimos de documento de identificación en espańol - Synonyms","2001-01-01","2025-10-28","Sustantivo · documento de identidad · cédula de identidad · carné de identidad · carnet de identidad · certificado de identidad · identificación · DNI · documentación.","żQué es autenticar un documento? - MailComms Group","2023-10-20","2025-10-06","La autenticación de documentos es un proceso que se realiza para garantizar que la información que contienen es válida y auténtica.","Cédula de identidad o de identificación, żCuál es el término correcto?","2021-03-09","2025-06-10","Esta última acepción es la que nos interesa. Usamos la cédula de identidad para identificarnos, pero como podemos analizar el nombre correcto ...",{"role":"368","content":"369"},{"role":"368","content":"354"},"stop",{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"370"},{"key":"371","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"372","status":3},{"id":null},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"373"},{"key":"374","messageTimestamp":1774581724,"pushName":"290","broadcast":false,"message":"375","status":3},{"id":null},"O1hlBz2LSs7cpupQMVt6uev9lKE2+7RWx2TAIkpYxvg=",{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"376"},"5511984523415@s.whatsapp.net","3EB0B1C6A5572E34F9BB6C","","lid",{"deviceListMetadata":"377","deviceListMetadataVersion":2,"messageSecret":"378"},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"379"},{"deviceListMetadata":"380","deviceListMetadataVersion":2,"messageSecret":"378"},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"381"},{"deviceListMetadata":"382","deviceListMetadataVersion":2,"messageSecret":"378"},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"383"},{"deviceListMetadata":"384","deviceListMetadataVersion":2,"messageSecret":"378"},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"385"},"assistant","{\"intent\":\"ask_document\",\"reason\":\"Cliente forneceu CNPJ de 14 dígitos (12345678000199), mas ainda năo especificou intençăo sobre boleto ou pagamento\"}",{"deviceListMetadata":"386","deviceListMetadataVersion":2,"messageSecret":"378"},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"387"},{"deviceListMetadata":"388","deviceListMetadataVersion":2,"messageSecret":"378"},{"remoteJid":"184","remoteJidAlt":"352","fromMe":false,"id":"353","participant":"354","addressingMode":"355"},{"conversation":"185","messageContextInfo":"389"},{"deviceListMetadata":"390","deviceListMetadataVersion":2,"messageSecret":"378"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},"D3O+Aoa7xoWCjU37rl08mD+DHU+md+z7cdinA1SWwlQ=",{"deviceListMetadata":"396","deviceListMetadataVersion":2,"messageSecret":"378"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"deviceListMetadata":"397","deviceListMetadataVersion":2,"messageSecret":"378"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"deviceListMetadata":"398","deviceListMetadataVersion":2,"messageSecret":"378"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"deviceListMetadata":"399","deviceListMetadataVersion":2,"messageSecret":"378"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"deviceListMetadata":"400","deviceListMetadataVersion":2,"messageSecret":"378"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"deviceListMetadata":"401","deviceListMetadataVersion":2,"messageSecret":"378"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},"GDlYs0hOfQv+yA==","1774017311","E2EE","dizRSl9KSXD6vg==","1774579506",{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"},{"senderKeyHash":"391","senderTimestamp":"392","senderAccountType":"393","receiverAccountType":"393","recipientKeyHash":"394","recipientTimestamp":"395"}]
