n8n-workflows/chatbot-contas-receber-telegram.json
{
  "name": "MVP - Chatbot Contas a Receber WhatsApp e Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-contas-receber-v2",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "chatbot-v2-webhook",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        420
      ],
      "webhookId": "waha-contas-receber-v2"
    },
    {
      "parameters": {
        "jsCode": "const envelope = $json.body && typeof $json.body === 'object' ? $json.body : $json;\n\nfunction asText(value) {\n  return typeof value === 'string' && value.trim() ? value.trim() : '';\n}\n\nconst telegramMessage = envelope.message || envelope.edited_message || null;\nif (telegramMessage && telegramMessage.chat) {\n  if (telegramMessage.from?.is_bot === true) return [];\n\n  const chatId = String(telegramMessage.chat.id || '').trim();\n  const messageText = [\n    telegramMessage.text,\n    telegramMessage.caption\n  ].map(asText).find(Boolean) || '';\n\n  if (!chatId || !messageText) return [];\n\n  const senderId = String(telegramMessage.from?.id || chatId).trim();\n  const normalizedText = messageText.trim();\n\n  return [{ json: {\n    channel: 'telegram',\n    session: 'telegram',\n    event: 'message',\n    phone: `telegram:${chatId}`,\n    chatId,\n    senderId: `telegram:${senderId}`,\n    text: normalizedText,\n    logText: normalizedText,\n    rawPayload: telegramMessage,\n    rawEnvelope: envelope\n  }}];\n}\n\nconst event = envelope.event;\nconst payload = envelope.payload || {};\nif (event !== 'message' || payload.fromMe === true) return [];\n\nconst chatId = String(payload.from || payload.chatId || payload.key?.remoteJid || '').trim();\nif (!chatId || /@g\\.us$/i.test(chatId)) return [];\n\nconst messageText = [\n  payload.body,\n  payload.text?.body,\n  payload.message?.conversation,\n  payload.message?.extendedTextMessage?.text\n].map(asText).find(Boolean) || '';\nif (!messageText) return [];\n\nconst senderId = String(payload.remoteJidAlt || payload._data?.remoteJidAlt || payload._data?.id?.remoteJidAlt || payload.author || payload.participant || payload.key?.participant || chatId).trim();\nconst phone = senderId.replace(/@s\\.whatsapp\\.net$/i, '').replace(/@c\\.us$/i, '').replace(/@lid$/i, '');\nconst normalizedText = String(messageText || '').trim();\n\nreturn [{ json: {\n  channel: 'whatsapp',\n  session: envelope.session || $json.session || 'default',\n  event,\n  phone,\n  chatId,\n  senderId,\n  text: normalizedText,\n  logText: normalizedText,\n  rawPayload: payload,\n  rawEnvelope: envelope\n}}];"
      },
      "id": "chatbot-v2-normalize",
      "name": "Normalizar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeText(value) {\n  return String(value || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/\\s+/g, ' ').trim();\n}\nfunction isOptOut(text) {\n  return new Set(['parar', 'stop', 'descadastrar', 'cancelar cobranca', 'remover meu numero', 'nao enviar', 'nao mande']).has(normalizeText(text));\n}\nfunction shouldShowWelcome(ctx) {\n  const normalized = normalizeText(ctx.text);\n  const directKeywords = ['boleto', '2 via', 'segunda via', 'reenviar', 'reenvio', 'linha digitavel', 'humano', 'atendente', 'operador', 'suporte'];\n  const greetings = ['oi', 'ola', 'bom dia', 'boa tarde', 'boa noite', 'preciso de ajuda', 'quero ajuda', 'quero atendimento'];\n  const hasDirectIntent = Boolean(ctx.document || directKeywords.some((keyword) => normalized.includes(keyword)));\n  return (ctx.conversationState === 'idle' || !ctx.conversationStateFound) && !hasDirectIntent && greetings.some((keyword) => normalized === keyword || normalized.includes(keyword));\n}\nfunction resolveIntent(ctx) {\n  const normalized = normalizeText(ctx.text);\n  const rawText = String(ctx.text || '').trim();\n  const state = ctx.conversationState || 'idle';\n  const activeFlow = ctx.conversationFlow === 'segunda_via_boleto' ? 'segunda_via_boleto' : '';\n  const tokenCount = normalized ? normalized.split(' ').filter(Boolean).length : 0;\n  const menuOption = normalized.match(/^(1|2)$/)?.[1] || '';\n  const documentOnlyMessage = Boolean(ctx.document && /^[\\d\\s.\\-/]+$/.test(rawText) && rawText.length <= 22);\n  const mentionsSecondVia = ['boleto', '2 via', 'segunda via', 'reenviar', 'reenvio', 'linha digitavel'].some((keyword) => normalized.includes(keyword));\n  const requestsHuman = ['humano', 'atendente', 'operador', 'pessoa', 'suporte'].some((keyword) => normalized.includes(keyword));\n  const looksLikeKnowledgeQuery = ['qual', 'quais', 'onde', 'como', 'quando', 'endereco', 'telefone', 'numero', 'email', 'e-mail', 'horario', 'empresa', 'nippon', '?'].some((keyword) => rawText.toLowerCase().includes(keyword) || normalized.includes(keyword)) || tokenCount >= 4;\n\n  if (state === 'awaiting_menu_selection') {\n    if (menuOption === '1') return { route: 'ask_document', intent: 'ask_document', nextFlow: 'segunda_via_boleto', reason: 'menu_option_second_via' };\n    if (menuOption === '2') return { route: 'ask_knowledge', intent: 'ask_knowledge', nextFlow: 'knowledge_base', reason: 'menu_option_other_subject' };\n    if (requestsHuman) return { route: 'knowledge', intent: 'default_operator', nextFlow: '', reason: 'menu_operator' };\n    if (mentionsSecondVia || documentOnlyMessage) return { route: ctx.document ? 'boleto' : 'ask_document', intent: ctx.document ? 'segunda_via_boleto' : 'ask_document', nextFlow: 'segunda_via_boleto', reason: ctx.document ? 'menu_second_via_with_document' : 'menu_second_via_without_document' };\n    if (!looksLikeKnowledgeQuery) return { route: 'welcome', intent: 'show_welcome_menu', nextFlow: '', reason: 'menu_repeat' };\n  }\n\n  if (state === 'awaiting_knowledge_question' && normalized) return { route: 'knowledge', intent: 'knowledge_base_question', nextFlow: '', reason: 'state_awaiting_knowledge_question' };\n  if (requestsHuman || looksLikeKnowledgeQuery) return { route: 'knowledge', intent: requestsHuman ? 'default_operator' : 'knowledge_base_question', nextFlow: '', reason: requestsHuman ? 'handoff_keyword' : 'knowledge_query' };\n  if (documentOnlyMessage) return { route: 'boleto', intent: 'segunda_via_boleto', nextFlow: activeFlow || 'segunda_via_boleto', reason: 'document_only_message' };\n  if (ctx.document && (mentionsSecondVia || state === 'awaiting_document' || activeFlow === 'segunda_via_boleto')) return { route: 'boleto', intent: 'segunda_via_boleto', nextFlow: 'segunda_via_boleto', reason: 'document_with_receivables_context' };\n  if (!ctx.document && (mentionsSecondVia || state === 'awaiting_document' || activeFlow === 'segunda_via_boleto')) return { route: 'ask_document', intent: 'ask_document', nextFlow: 'segunda_via_boleto', reason: 'boleto_keyword_without_document' };\n  return { route: 'knowledge', intent: 'default_operator', nextFlow: '', reason: 'default_operator' };\n}\nlet decision;\nif (isOptOut($json.text)) decision = { route: 'opt_out', intent: 'opt_out', nextFlow: '', reason: 'opt_out_command' };\nelse if (shouldShowWelcome($json)) decision = { route: 'welcome', intent: 'welcome_menu', nextFlow: '', reason: 'welcome_menu' };\nelse decision = resolveIntent($json);\nreturn [{ json: { ...$json, ...decision, resolvedFlow: decision.nextFlow || ($json.conversationFlow === 'segunda_via_boleto' ? 'segunda_via_boleto' : ''), classificationReason: decision.reason } }];"
      },
      "id": "chatbot-v2-resolve-intent",
      "name": "Resolver Intencao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-opt-out-condition",
              "leftValue": "={{$json.route}}",
              "rightValue": "opt_out",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-opt-out",
      "name": "Rota: Descadastro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2020,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiBase = 'http://api:3000/internal/v1';\nasync function post(path, body) {\n  await fetch(apiBase + path, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(body) });\n}\nawait post('/SetWhatsAppOptOut', { Telefone: $json.phone, OptOut: true, Reason: 'Cliente solicitou bloqueio de cobrancas automaticas no canal de atendimento', Source: 'chatbot', SourceMessage: $json.text });\nawait post('/ClearConversationState', { Telefone: $json.phone });\nreturn [{ json: { ...$json, replyText: 'Entendido. Nao enviaremos novas cobrancas automaticas por este canal. Se quiser retomar no futuro, fale com um operador.', logIntent: 'opt_out' } }];"
      },
      "id": "chatbot-v2-handle-opt-out",
      "name": "Processar Descadastro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-welcome-condition",
              "leftValue": "={{$json.route}}",
              "rightValue": "welcome",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-welcome",
      "name": "Rota: Boas-Vindas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2300,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const replyText = '\\uD83D\\uDC54 Ol\\u00E1. Bem-vindo ao canal de atendimento da Nippon Elevadores.\\n\\nAtrav\\u00E9s deste menu, podemos auxili\\u00E1-lo com quest\\u00F5es de Contas a Receber. Por gentileza, selecione a op\\u00E7\\u00E3o que melhor atende \\u00E0 sua necessidade no momento:\\n\\n\\uD83D\\uDD38 1. Segunda via de boleto\\n\\uD83D\\uDD38 2. Outros assuntos\\n\\nCaso a sua solicita\\u00E7\\u00E3o demande suporte adicional, um atendente dar\\u00E1 continuidade ao seu atendimento.';\nreturn [{ json: { ...$json, replyText, logIntent: 'welcome_menu' } }];"
      },
      "id": "chatbot-v2-handle-welcome",
      "name": "Montar Mensagem de Boas-Vindas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2580,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-ask-document-condition",
              "leftValue": "={{$json.route}}",
              "rightValue": "ask_document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-ask-document",
      "name": "Rota: Pedir Documento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2580,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, resolvedFlow: 'segunda_via_boleto', nextFlow: 'segunda_via_boleto', replyText: 'Para localizar seu boleto, por favor informe o CPF ou CNPJ vinculado ao cadastro.', logIntent: 'ask_document' } }];"
      },
      "id": "chatbot-v2-handle-ask-document",
      "name": "Pedir CPF ou CNPJ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-boleto-condition",
              "leftValue": "={{$json.route}}",
              "rightValue": "boleto",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-boleto",
      "name": "Rota: Boleto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        740
      ]
    },
    {
      "parameters": {
        "content": "## Chatbot de Contas a Receber\n\nEste workflow atende clientes da Nippon Elevadores pelo WhatsApp e Telegram.\n\n### O que ele faz\n- envia saudacao inicial com menu quando o primeiro contato e generico\n- permite que o cliente seja direto, sem depender do menu\n- trata segunda via de boleto com CPF/CNPJ digitado\n- consulta a base de conhecimento para outros assuntos\n- encaminha para operador humano quando nao houver resposta automatica adequada\n\n### Resultado esperado\nAo final, o cliente recebe a resposta automatizada, o atendimento e registrado e a sessao e encerrada.",
        "height": 200,
        "width": 460,
        "color": 4
      },
      "id": "chatbot-v2-note-architecture",
      "name": "Nota - Arquitetura",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        100
      ]
    },
    {
      "parameters": {
        "content": "## Menu e interpretacao da intencao\n\nAqui o fluxo decide se deve enviar a mensagem de boas-vindas, repetir o menu ou seguir direto com a solicitacao do cliente.\n\nAs intencoes principais sao:\n- segunda via de boleto\n- consulta na base de conhecimento para outros assuntos\n- encaminhamento para operador quando nao houver resposta",
        "height": 200,
        "width": 520,
        "color": 5
      },
      "id": "chatbot-v2-note-routes",
      "name": "Nota - Rotas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/ChatbotLog",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, Role: 'user', Message: $json.logText || $json.text || '[mensagem sem texto]', Channel: $json.channel || 'whatsapp', Metadata: { event: $json.event, chatId: $json.chatId, senderId: $json.senderId, channel: $json.channel } }) }}",
        "options": {}
      },
      "id": "chatbot-v2-log-inbound",
      "name": "Registrar Mensagem Recebida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        420
      ]
    },
    {
      "parameters": {
        "url": "http://api:3000/internal/v1/MvpConfig",
        "options": {}
      },
      "id": "chatbot-v2-get-config",
      "name": "Buscar Config MVP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        420
      ]
    },
    {
      "parameters": {
        "url": "http://api:3000/internal/v1/GetConversationState",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Telefone",
              "value": "={{$node[\"Normalizar Mensagem\"].json.phone}}"
            }
          ]
        },
        "options": {}
      },
      "id": "chatbot-v2-get-state",
      "name": "Buscar Estado da Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const incoming = $item(0).$node[\"Normalizar Mensagem\"].json;\nconst config = $item(0).$node[\"Buscar Config MVP\"].json;\nconst state = $json || {};\nconst digits = String(incoming.text || '').replace(/\\D/g, '');\nconst documentMatch = digits.match(/(\\d{14}|\\d{11})/);\nreturn [\n  {\n    json: {\n      ...incoming,\n      document: documentMatch ? documentMatch[1] : '',\n      fallbackMessage: config.DefaultFallbackMessage || 'Recebemos sua mensagem e em breve um operador do contas a receber dara continuidade ao atendimento.',\n      defaultDelayDays: Number(config.DefaultDelayDays || 3),\n      initialMessage: config.InitialWhatsAppMessage,\n      conversationState: state.CurrentState || 'idle',\n      conversationFlow: state.ActiveFlow || '',\n      conversationLastIntent: state.LastIntent || '',\n      conversationContext: state.Context || {},\n      conversationStateFound: Boolean(state.Found),\n      conversationStateExpiresAt: state.ExpiresAt || null,\n      conversationStateTtlHours: Number(config.ConversationStateTtlHours || 12)\n    }\n  }\n];"
      },
      "id": "chatbot-v2-merge-context",
      "name": "Montar Contexto da Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/SetConversationState",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, CurrentState: 'awaiting_menu_selection', ActiveFlow: '', LastIntent: 'welcome_menu', Context: { lastUserMessage: $json.text, requestedAt: new Date().toISOString() }, ExpiresInHours: $json.conversationStateTtlHours || 12, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "chatbot-v2-set-awaiting-menu",
      "name": "Definir Estado Aguardando Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.channel === 'telegram' ? 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' : 'http://waha:3000/api/sendText' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{$env.WAHA_API_KEY || 'changeme'}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.channel === 'telegram' ? { chat_id: $json.chatId, text: $json.replyText } : { session: $json.session || 'default', chatId: $json.chatId, text: $json.replyText }) }}",
        "options": {}
      },
      "id": "chatbot-v2-send-whatsapp",
      "name": "Enviar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/ChatbotLog",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, DocumentoInformado: $json.document || null, Role: 'assistant', Message: $json.replyText, Intent: $json.logIntent, Channel: $json.channel || 'whatsapp', Metadata: { chatId: $json.chatId, senderId: $json.senderId, route: $json.route || '', classificationReason: $json.classificationReason || '', channel: $json.channel } }) }}",
        "options": {}
      },
      "id": "chatbot-v2-log-outbound",
      "name": "Registrar Resposta Enviada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/SetConversationState",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, CurrentState: 'awaiting_document', ActiveFlow: $json.nextFlow || $json.resolvedFlow || 'segunda_via_boleto', LastIntent: 'ask_document', Context: { lastUserMessage: $json.text, requestedAt: new Date().toISOString() }, ExpiresInHours: $json.conversationStateTtlHours || 12, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "chatbot-v2-set-awaiting-document",
      "name": "Definir Estado Aguardando Documento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        500
      ]
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/ValidarCprfTelefone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "TenantId",
              "value": "1"
            },
            {
              "name": "Cprf",
              "value": "={{$json.document}}"
            },
            {
              "name": "Telefone",
              "value": "={{String($json.rawPayload?._data?.key?.remoteJidAlt || $json.phone || '').replace(/@s.whatsapp.net$/i, '').replace(/@c.us$/i, '').replace(/@lid$/i, '')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "chatbot-v2-validate-document-phone",
      "name": "Validar Documento e Telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-validation-ok-condition",
              "leftValue": "={{$json.CprfValido && $json.TelefoneValido}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-validation-ok",
      "name": "Documento e Telefone Validos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3400,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Montar Contexto da Conversa\"].json;\nreturn [{ json: { ...context, replyText: 'Nao consegui validar o CPF/CNPJ com o telefone desta conversa. Por favor, revise os dados ou aguarde atendimento humano.', logIntent: 'segunda_via_boleto' } }];"
      },
      "id": "chatbot-v2-build-validation-error",
      "name": "Montar Erro de Validacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3660,
        860
      ]
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/GetBoletoByCprf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Cprf",
              "value": "={{$node[\"Montar Contexto da Conversa\"].json.document}}"
            },
            {
              "name": "TenantId",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "chatbot-v2-get-boleto-document",
      "name": "Buscar Boleto por Documento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3660,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Montar Contexto da Conversa\"].json;\nconst boletos = $json.Boletos || [];\nconst boleto = boletos[0];\nif (!boleto) {\n  return [{ json: { ...context, canUpdate: false, replyText: 'Nao localizamos um boleto para reenvio neste momento. Em breve um operador dara continuidade ao atendimento.', logIntent: 'segunda_via_boleto' } }];\n}\nreturn [{ json: { ...context, resolvedFlow: 'segunda_via_boleto', canUpdate: true, boletoId: boleto.Identificador, tenantId: 1, currentDueDate: boleto.Vencimento, linhaDigitavel: boleto.LinhaDigitavel, logIntent: 'segunda_via_boleto' } }];"
      },
      "id": "chatbot-v2-prepare-boleto-reply",
      "name": "Preparar Resposta do Boleto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        680
      ],
      "notes": "Seleciona o boleto localizado e prepara a linha digitavel para envio ao cliente."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-can-update-condition",
              "leftValue": "={{$json.canUpdate}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-can-update",
      "name": "Boleto Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4180,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Preparar Resposta do Boleto\"].json;\nconst closingText = 'Agradecemos o seu contato com a Nippon Elevadores. Este atendimento foi encerrado. Se precisar, estamos a disposicao.';\nconst replyText = 'Localizamos seu boleto. Linha digitavel: ' + context.linhaDigitavel + '\\n\\n' + closingText;\nreturn [{ json: { ...context, replyText, logIntent: 'segunda_via_boleto' } }];"
      },
      "id": "chatbot-v2-build-success",
      "name": "Montar Resposta de Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4700,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/ClearConversationState",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone }) }}",
        "options": {}
      },
      "id": "chatbot-v2-clear-state",
      "name": "Limpar Estado da Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4960,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/KnowledgeBaseAnswer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Question: $json.text, Telefone: $json.phone, MaxChunks: 4, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "chatbot-v2-query-kb",
      "name": "Consultar Base de Conhecimento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        920
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-kb-found-condition",
              "leftValue": "={{$json.knowledgeBaseFound || $json.Found}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-kb-found",
      "name": "Resposta Encontrada na Base?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3400,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Montar Contexto da Conversa\"].json;\nconst answer = $json.knowledgeBaseAnswer || $json.Answer || '';\nreturn [{ json: { ...context, replyText: answer, logIntent: 'knowledge_base_answer', classificationReason: 'knowledge_base_answer' } }];"
      },
      "id": "chatbot-v2-build-kb-reply",
      "name": "Montar Resposta da Base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3660,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Montar Contexto da Conversa\"].json;\nconst fallbackMessage = context.fallbackMessage || 'Nao encontrei essa informacao na base de conhecimento agora. Vou encaminhar seu atendimento para um operador.';\nreturn [{ json: { ...context, replyText: fallbackMessage, logIntent: 'default_operator' } }];"
      },
      "id": "chatbot-v2-build-fallback",
      "name": "Montar Resposta de Encaminhamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3660,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-ask-knowledge-condition",
              "leftValue": "={{$json.route}}",
              "rightValue": "ask_knowledge",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-ask-knowledge",
      "name": "Rota: Outro Assunto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, replyText: 'Claro. Me envie sua pergunta ou descreva o assunto para eu consultar a base de conhecimento da Nippon.', logIntent: 'ask_knowledge_question' } }];"
      },
      "id": "chatbot-v2-handle-ask-knowledge",
      "name": "Pedir Pergunta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3140,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/SetConversationState",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, CurrentState: 'awaiting_knowledge_question', ActiveFlow: 'knowledge_base', LastIntent: 'ask_knowledge_question', Context: { lastUserMessage: $json.text, requestedAt: new Date().toISOString() }, ExpiresInHours: $json.conversationStateTtlHours || 12, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "chatbot-v2-set-awaiting-knowledge",
      "name": "Definir Estado Aguardando Pergunta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        620
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-contas-receber-v2",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "chatbot-v2-telegram-webhook",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        680
      ],
      "webhookId": "telegram-contas-receber-v2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chatbot-v2-if-telegram-channel-condition",
              "leftValue": "={{$json.channel}}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chatbot-v2-if-telegram-channel",
      "name": "Canal e Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3140,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  CprfValido: true,\n  TelefoneValido: true,\n  ValidationSkipped: true,\n  ValidationChannel: 'telegram',\n  Message: 'Validacao de CPF/CNPJ com telefone desativada temporariamente para Telegram.'\n} }];"
      },
      "id": "chatbot-v2-build-telegram-validation-ok",
      "name": "Pular Validacao (Telegram)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WAHA": {
      "main": [
        [
          {
            "node": "Normalizar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensagem": {
      "main": [
        [
          {
            "node": "Registrar Mensagem Recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Mensagem Recebida": {
      "main": [
        [
          {
            "node": "Buscar Config MVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Config MVP": {
      "main": [
        [
          {
            "node": "Buscar Estado da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estado da Conversa": {
      "main": [
        [
          {
            "node": "Montar Contexto da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto da Conversa": {
      "main": [
        [
          {
            "node": "Resolver Intencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Intencao": {
      "main": [
        [
          {
            "node": "Rota: Descadastro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota: Descadastro?": {
      "main": [
        [
          {
            "node": "Processar Descadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rota: Boas-Vindas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Descadastro": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota: Boas-Vindas?": {
      "main": [
        [
          {
            "node": "Montar Mensagem de Boas-Vindas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rota: Pedir Documento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem de Boas-Vindas": {
      "main": [
        [
          {
            "node": "Definir Estado Aguardando Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Estado Aguardando Menu": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota: Pedir Documento?": {
      "main": [
        [
          {
            "node": "Pedir CPF ou CNPJ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rota: Outro Assunto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir CPF ou CNPJ": {
      "main": [
        [
          {
            "node": "Definir Estado Aguardando Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Estado Aguardando Documento": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota: Boleto?": {
      "main": [
        [
          {
            "node": "Canal e Telegram?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar Base de Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Documento e Telefone": {
      "main": [
        [
          {
            "node": "Documento e Telefone Validos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Documento e Telefone Validos?": {
      "main": [
        [
          {
            "node": "Buscar Boleto por Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Erro de Validacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Erro de Validacao": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpar Estado da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Boleto por Documento": {
      "main": [
        [
          {
            "node": "Preparar Resposta do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boleto Encontrado?": {
      "main": [
        [
          {
            "node": "Montar Resposta de Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpar Estado da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta de Sucesso": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpar Estado da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Base de Conhecimento": {
      "main": [
        [
          {
            "node": "Resposta Encontrada na Base?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Encontrada na Base?": {
      "main": [
        [
          {
            "node": "Montar Resposta da Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Resposta de Encaminhamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta da Base": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpar Estado da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta de Encaminhamento": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpar Estado da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Estado da Conversa": {
      "main": [
        []
      ]
    },
    "Rota: Outro Assunto?": {
      "main": [
        [
          {
            "node": "Pedir Pergunta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rota: Boleto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Pergunta": {
      "main": [
        [
          {
            "node": "Definir Estado Aguardando Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Estado Aguardando Pergunta": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Resposta Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta do Boleto": {
      "main": [
        [
          {
            "node": "Boleto Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Telegram": {
      "main": [
        [
          {
            "node": "Normalizar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal e Telegram?": {
      "main": [
        [
          {
            "node": "Pular Validacao (Telegram)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Documento e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pular Validacao (Telegram)": {
      "main": [
        [
          {
            "node": "Documento e Telefone Validos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "local-telegram-multicanal",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "local-refactor",
    "templateDescription": "Clone multicanal do chatbot de contas a receber com entrada via WhatsApp/WAHA e webhook do Telegram (setWebhook), normalizacao unica, estado por canal e envio dinamico de resposta."
  },
  "id": "chatbot-contas-receber-telegram",
  "tags": []
}