n8n-workflows/chatbot-contas-receber.json
{
  "name": "MVP - Chatbot Contas a Receber",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-contas-receber",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "bc8eb9b1-5e39-4d78-b7aa-c76346d49001",
      "name": "WAHA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        420
      ],
      "webhookId": "waha-contas-receber",
      "notes": "Recebe os eventos de mensagem enviados pelo WAHA para iniciar o atendimento no WhatsApp.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const envelope = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst event = envelope.event;\nconst payload = envelope.payload || {};\nif (event !== 'message') {\n  return [];\n}\nif (payload.fromMe === true) {\n  return [];\n}\nconst chatId = String(payload.from || payload.chatId || payload.key?.remoteJid || '').trim();\nif (!chatId || /@g\\.us$/i.test(chatId)) {\n  return [];\n}\nconst mediaUrl = String(payload.media?.url || '').trim();\nconst mediaMimeType = String(payload.media?.mimetype || '').trim();\nconst hasImage = Boolean(payload.hasMedia && mediaUrl && /^image\\//i.test(mediaMimeType));\nconst messageText = [\n  payload.body,\n  payload.text?.body,\n  payload.message?.conversation,\n  payload.message?.extendedTextMessage?.text,\n  payload.message?.imageMessage?.caption,\n  payload.message?.videoMessage?.caption\n].find((value) => typeof value === 'string' && value.trim()) || '';\nif (!messageText && !hasImage) {\n  return [];\n}\nconst senderId = String(\n  payload.remoteJidAlt ||\n  payload._data?.remoteJidAlt ||\n  payload._data?.id?.remoteJidAlt ||\n  payload.author ||\n  payload.participant ||\n  payload.key?.participant ||\n  chatId\n).trim();\nconst phone = senderId\n  .replace(/@s\\.whatsapp\\.net$/i, '')\n  .replace(/@c\\.us$/i, '')\n  .replace(/@lid$/i, '');\nconst normalizedText = String(messageText || '').trim();\nreturn [\n  {\n    json: {\n      session: envelope.session || $json.session || 'default',\n      event,\n      phone,\n      chatId,\n      senderId,\n      text: normalizedText,\n      logText: normalizedText || (hasImage ? '[imagem recebida]' : ''),\n      hasMedia: Boolean(payload.hasMedia),\n      hasImage,\n      mediaUrl,\n      mediaMimeType,\n      rawPayload: payload,\n      rawEnvelope: envelope\n    }\n  }\n];"
      },
      "id": "b1282d33-ee0e-4f34-bf6b-b115837b7002",
      "name": "Normalize Incoming Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        420
      ],
      "notes": "Padroniza o payload recebido, identifica telefone, chat, texto e imagem, e prepara os dados para o restante do fluxo.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/ChatbotLog",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, Role: 'user', Message: $json.logText || $json.text || '[mensagem sem texto]', Channel: 'whatsapp', Metadata: { event: $json.event, chatId: $json.chatId, hasImage: $json.hasImage || false, mediaMimeType: $json.mediaMimeType || '' } }) }}",
        "options": {}
      },
      "id": "c7276b6b-756d-4114-9a07-4c0fd2f39003",
      "name": "Log Inbound Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        420
      ],
      "notes": "Registra no banco a mensagem de entrada do cliente para rastreabilidade do atendimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/MvpConfig",
        "options": {}
      },
      "id": "7ae4ca5a-b0ae-4d45-83b6-0cb3d3f78004",
      "name": "Get MVP Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        420
      ],
      "notes": "Busca os parametros configuraveis do MVP, como mensagens padrao e quantidade de dias para prorrogacao.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/GetConversationState",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Telefone",
              "value": "={{$node[\"Normalize Incoming Message\"].json.phone}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5bc8d001-6f4d-454d-95c6-f04a8f6a3004",
      "name": "Get Conversation State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        280
      ],
      "notes": "Consulta o estado atual da conversa para saber em que etapa o cliente esta.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const incoming = $item(0).$node[\"Normalize Incoming Message\"].json;\nconst config = $item(0).$node[\"Get MVP Config\"].json;\nconst state = $json || {};\nreturn [\n  {\n    json: {\n      ...incoming,\n      fallbackMessage: config.DefaultFallbackMessage,\n      defaultDelayDays: Number(config.DefaultDelayDays || 3),\n      initialMessage: config.InitialWhatsAppMessage,\n      conversationState: state.CurrentState || 'idle',\n      conversationFlow: state.ActiveFlow || '',\n      conversationLastIntent: state.LastIntent || '',\n      conversationContext: state.Context || {},\n      conversationStateFound: Boolean(state.Found),\n      conversationStateExpiresAt: state.ExpiresAt || null,\n      conversationStateTtlHours: Number(config.ConversationStateTtlHours || 12)\n    }\n  }\n];"
      },
      "id": "f0ea8ff5-17a6-4f84-a682-d81f0bf15005",
      "name": "Merge Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ],
      "notes": "Combina a mensagem recebida com os parametros do sistema e com o estado atual da conversa.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const normalized = ($json.text || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/\\s+/g, ' ').trim();\nconst exactCommands = new Set(['parar', 'stop', 'descadastrar', 'cancelar cobranca', 'remover meu numero', 'nao enviar', 'nao mande']);\nconst isOptOutCommand = exactCommands.has(normalized);\nreturn [{ json: { ...$json, isOptOutCommand } }];"
      },
      "id": "4e5c0f5a-378f-4d66-aa3f-5a770f2ea006",
      "name": "Detect Opt Out Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        420
      ],
      "notes": "Verifica se o cliente enviou um comando para parar o recebimento de cobrancas automaticas.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "8f7de7ef-b496-46ca-9800-a27d7c88b3ac",
              "leftValue": "={{$json.isOptOutCommand}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "fb28e113-8824-4cc9-8de8-7cecc68f7007",
      "name": "If Opt Out Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        420
      ],
      "notes": "Desvia o fluxo para opt-out somente quando a mensagem for um comando valido de bloqueio.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/SetWhatsAppOptOut",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, OptOut: true, Reason: 'Cliente solicitou bloqueio de cobrancas automaticas no WhatsApp', Source: 'chatbot', SourceMessage: $json.text }) }}",
        "options": {}
      },
      "id": "83ea4c3f-7fdf-4bdd-99cc-92aa347c7008",
      "name": "Set WhatsApp Opt Out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        280
      ],
      "notes": "Registra a preferencia do cliente de nao receber novas cobrancas automaticas por WhatsApp.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Detect Opt Out Command\"].json;\nreturn [\n  {\n    json: {\n      ...context,\n      optOutResult: $json,\n      replyText: 'Entendido. Nao enviaremos novas cobrancas automaticas por este WhatsApp. Se quiser retomar no futuro, fale com um operador.',\n      logIntent: 'opt_out'\n    }\n  }\n];"
      },
      "id": "8f6ad147-d2ae-4fbb-89b0-c52a7d627009",
      "name": "Build Opt Out Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        280
      ],
      "notes": "Monta a resposta de confirmacao do opt-out para o cliente.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const digits = ($json.text || '').replace(/\\D/g, '');\nconst match = digits.match(/(\\d{14}|\\d{11})/);\nreturn [\n  {\n    json: {\n      ...$json,\n      document: match ? match[1] : ''\n    }\n  }\n];"
      },
      "id": "1cc4a8f2-57af-4875-8d35-d20289a3b006",
      "name": "Detect Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        540
      ],
      "notes": "Extrai CPF ou CNPJ digitado pelo cliente quando ele envia o documento em texto.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENAI_MODEL || 'gpt-4o-mini', temperature: 0, messages: [ { role: 'system', content: 'Classifique mensagens de clientes de contas a receber. Responda somente JSON valido com o formato {\"intent\":\"ask_document|segunda_via_boleto|default_operator\",\"reason\":\"texto curto\"}. Use ask_document quando o cliente estiver falando de boleto, vencimento, segunda via, reenvio, pagamento ou contas a receber e ainda nao informou CPF/CNPJ de 11 ou 14 digitos. Use segunda_via_boleto somente quando a intencao estiver ligada a perda, esquecimento, reenvio ou localizacao de boleto e o documento ja estiver presente. Use default_operator para qualquer outro caso.' }, { role: 'user', content: 'Mensagem: ' + ($json.text || 'nao informada') + '\\nDocumento identificado: ' + ($json.document || 'nao') + '\\nOrigem do documento: ' + ($json.documentSource || 'texto') } ] }) }}",
        "options": {}
      },
      "id": "af6bf019-44d3-4f01-8d13-7448fe4d6007",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        540
      ],
      "notes": "Usa LLM para classificar mensagens ambiguas do cliente quando as regras do fluxo nao forem suficientes.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Prepare Classification Context\"].json;\nconst content = $json.choices?.[0]?.message?.content || '{\"intent\":\"default_operator\",\"reason\":\"empty\"}';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = { intent: 'default_operator', reason: 'invalid_json' };\n}\nconst rawText = String(context.text || '').trim();\nconst normalized = rawText.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/\\s+/g, ' ').trim();\nconst hasDocument = Boolean(context.document);\nconst onlyDigitsOrPunctuation = /^[\\d\\s.\\-\\/]+$/.test(rawText);\nconst shortDocumentReply = rawText.length <= 22;\nconst documentOnlyMessage = hasDocument && onlyDigitsOrPunctuation && shortDocumentReply;\nconst state = context.conversationState || 'idle';\nconst activeFlow = context.conversationFlow || '';\nconst secondViaKeywords = ['boleto', '2 via', 'segunda via', 'reenviar', 'reenvio', 'linha digitavel'];\nconst dueDateKeywords = ['alteracao de vencimento', 'alterar vencimento', 'mudar vencimento', 'prorrogar vencimento', 'prorrogar vencimento', 'boleto venceu', 'boleto vencido', 'solicitar alteracao de vencimento'];\nconst handoffKeywords = ['humano', 'atendente', 'operador', 'pessoa', 'suporte'];\nconst knowledgeKeywords = ['qual', 'quais', 'onde', 'como', 'quando', 'endereco', 'telefone', 'email', 'e-mail', 'horario', 'empresa', 'nippon', '?'];\nconst tokenCount = normalized ? normalized.split(' ').filter(Boolean).length : 0;\nconst mentionsSecondVia = secondViaKeywords.some((keyword) => normalized.includes(keyword));\nconst mentionsDueDate = dueDateKeywords.some((keyword) => normalized.includes(keyword)) || (normalized.includes('vencimento') && (normalized.includes('alter') || normalized.includes('venc')));\nconst requestsHuman = handoffKeywords.some((keyword) => normalized.includes(keyword));\nconst looksLikeKnowledgeQuery = knowledgeKeywords.some((keyword) => rawText.toLowerCase().includes(keyword) || normalized.includes(keyword)) || tokenCount >= 4;\nconst menuOption = normalized.match(/^(1|2|3)$/)?.[1] || '';\nlet intent = 'default_operator';\nlet classificationReason = 'fallback_default';\nlet nextFlow = activeFlow || '';\nif (state === 'awaiting_menu_selection') {\n  if (menuOption === '1') {\n    intent = 'ask_document';\n    nextFlow = 'segunda_via_boleto';\n    classificationReason = 'menu_option_second_via';\n  } else if (menuOption === '2') {\n    intent = 'ask_document';\n    nextFlow = 'alteracao_vencimento';\n    classificationReason = 'menu_option_due_date';\n  } else if (menuOption === '3') {\n    intent = 'default_operator';\n    classificationReason = 'menu_option_operator';\n  } else if (requestsHuman) {\n    intent = 'default_operator';\n    classificationReason = 'menu_handoff_keyword';\n  } else if (mentionsDueDate) {\n    nextFlow = 'alteracao_vencimento';\n    intent = hasDocument ? 'segunda_via_boleto' : 'ask_document';\n    classificationReason = hasDocument ? 'menu_due_date_with_document' : 'menu_due_date_without_document';\n  } else if (mentionsSecondVia || context.hasImage || documentOnlyMessage) {\n    nextFlow = 'segunda_via_boleto';\n    intent = hasDocument || context.hasImage || documentOnlyMessage ? (hasDocument ? 'segunda_via_boleto' : 'ask_document') : 'ask_document';\n    classificationReason = hasDocument ? 'menu_second_via_with_document' : 'menu_second_via_without_document';\n  } else if (looksLikeKnowledgeQuery) {\n    intent = 'default_operator';\n    classificationReason = 'menu_free_question';\n  } else {\n    intent = 'show_welcome_menu';\n    classificationReason = 'menu_repeat';\n  }\n} else if (requestsHuman) {\n  intent = 'default_operator';\n  classificationReason = 'handoff_keyword';\n} else if (documentOnlyMessage) {\n  intent = 'segunda_via_boleto';\n  nextFlow = activeFlow || 'segunda_via_boleto';\n  classificationReason = 'document_only_message';\n} else if (hasDocument && (mentionsDueDate || activeFlow === 'alteracao_vencimento')) {\n  intent = 'segunda_via_boleto';\n  nextFlow = 'alteracao_vencimento';\n  classificationReason = 'due_date_with_document';\n} else if (!hasDocument && mentionsDueDate) {\n  intent = 'ask_document';\n  nextFlow = 'alteracao_vencimento';\n  classificationReason = 'due_date_without_document';\n} else if (hasDocument && (mentionsSecondVia || state === 'awaiting_document' || state === 'awaiting_document_second_via' || activeFlow === 'segunda_via_boleto' || context.documentSource === 'image_paddle_ocr' || context.documentSource === 'image_ollama')) {\n  intent = 'segunda_via_boleto';\n  nextFlow = activeFlow || 'segunda_via_boleto';\n  classificationReason = state === 'awaiting_document' || state === 'awaiting_document_second_via' ? 'state_resume_with_document' : 'document_with_receivables_context';\n} else if (!hasDocument && (mentionsSecondVia || state === 'awaiting_document' || state === 'awaiting_document_second_via' || activeFlow === 'segunda_via_boleto')) {\n  intent = 'ask_document';\n  nextFlow = activeFlow || 'segunda_via_boleto';\n  classificationReason = state === 'awaiting_document' || state === 'awaiting_document_second_via' ? 'state_waiting_for_document' : 'boleto_keyword_without_document';\n} else {\n  intent = parsed.intent || 'default_operator';\n  classificationReason = parsed.reason || 'llm_fallback';\n  if (!hasDocument && intent === 'segunda_via_boleto') {\n    intent = 'ask_document';\n    nextFlow = 'segunda_via_boleto';\n  } else if (hasDocument && intent === 'segunda_via_boleto') {\n    nextFlow = activeFlow || 'segunda_via_boleto';\n  }\n}\nreturn [\n  {\n    json: {\n      ...context,\n      intent,\n      nextFlow,\n      resolvedFlow: nextFlow || activeFlow || 'segunda_via_boleto',\n      classificationReason,\n      debugIntentOverride: documentOnlyMessage,\n      llmSuggestedIntent: parsed.intent || 'default_operator'\n    }\n  }\n];"
      },
      "id": "26b0fa81-8160-4549-8be8-e088d2df9008",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        540
      ],
      "notes": "Consolida regras, estado da conversa e retorno da LLM para definir a proxima acao do atendimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "57c3bbf1-8a9e-4a14-9ae8-5476396a0a11",
              "leftValue": "={{$json.intent}}",
              "rightValue": "ask_document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "2a03d618-b33b-49bd-9b4d-064c0ca2e009",
      "name": "If Ask Document",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2620,
        540
      ],
      "notes": "Verifica se o proximo passo e pedir CPF, CNPJ ou foto do boleto para continuar o atendimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const flow = $json.nextFlow || $json.resolvedFlow || $json.conversationFlow || 'segunda_via_boleto';\nconst replyText = flow === 'alteracao_vencimento'\n  ? 'Para solicitar a alteracao de vencimento, informe o CPF ou CNPJ vinculado ao cadastro. Se preferir, envie uma foto legivel do boleto.'\n  : 'Para localizar seu boleto, por favor informe o CPF ou CNPJ vinculado ao cadastro. Se preferir, envie uma foto legivel do boleto.';\nreturn [\n  {\n    json: {\n      ...$json,\n      replyText,\n      logIntent: flow === 'alteracao_vencimento' ? 'alteracao_vencimento' : 'ask_document'\n    }\n  }\n];"
      },
      "id": "42861ad1-5712-4342-89ba-8938f9b67010",
      "name": "Build Ask Document Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        400
      ],
      "notes": "Monta a solicitacao de documento, adaptando a mensagem para segunda via ou alteracao de vencimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/SetConversationState",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, CurrentState: 'awaiting_document', ActiveFlow: $json.nextFlow || $json.resolvedFlow || 'segunda_via_boleto', LastIntent: 'ask_document', Context: { lastUserMessage: $json.text, requestedAt: new Date().toISOString() }, ExpiresInHours: $json.conversationStateTtlHours || 12, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "9db90e3e-bb58-444d-858d-7be60e62b023",
      "name": "Set Awaiting Document State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        400
      ],
      "notes": "Salva o estado aguardando o documento do cliente para retomar o fluxo depois.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0845d28a-7735-4fd2-8b90-35672510be22",
              "leftValue": "={{$json.intent}}",
              "rightValue": "segunda_via_boleto",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "4f5146bf-0f7a-44a5-98cf-77c6db9cf011",
      "name": "If Second Via",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        680
      ],
      "notes": "Direciona para o fluxo de boleto quando a intencao resolvida for segunda via ou alteracao de vencimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      replyText: $json.fallbackMessage,\n      logIntent: 'default_operator'\n    }\n  }\n];"
      },
      "id": "cb00fb14-0e6b-4c79-96f6-0158a1af9012",
      "name": "Build Fallback Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        840
      ],
      "notes": "Envia a mensagem padrao de encaminhamento para operador humano quando o assunto sai do escopo do bot.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/KnowledgeBaseAnswer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Question: $json.text, Telefone: $json.phone, MaxChunks: 4, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "2f0b8459-d0a2-4385-933f-1c6c1bf4d901",
      "name": "Query Knowledge Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        680
      ],
      "notes": "Consulta a base de conhecimento local da Nippon Elevadores antes de encaminhar o assunto para operador.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0d95ef4a-16fd-4e4e-9f6c-9ed5070df0f2",
              "leftValue": "={{$json.knowledgeBaseFound || $json.Found}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "9659f973-f27e-4b2c-9547-8c7694cd7d54",
      "name": "If KB Answer Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3340,
        680
      ],
      "notes": "Valida se a base de conhecimento encontrou uma resposta curta e confiavel para a pergunta do cliente.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      replyText: $json.knowledgeBaseAnswer || $json.Answer || '',\n      logIntent: 'knowledge_base_answer',\n      classificationReason: 'knowledge_base_answer'\n    }\n  }\n];"
      },
      "id": "1ec7f9b3-e52e-4bf0-8c3d-0c336a0cae93",
      "name": "Build KB Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        600
      ],
      "notes": "Monta a resposta objetiva retornada pelo RAG quando a base de conhecimento cobre o assunto do cliente.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/ValidarCprfTelefone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "TenantId",
              "value": "1"
            },
            {
              "name": "Cprf",
              "value": "={{$json.document}}"
            },
            {
              "name": "Telefone",
              "value": "={{String($json.rawPayload?._data?.key?.remoteJidAlt || $json.phone || '').replace(/@s\\.whatsapp\\.net$/i, '').replace(/@c\\.us$/i, '').replace(/@lid$/i, '')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "20a30907-0a05-49af-b8bf-084ef70fd013",
      "name": "Validate Document And Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        640
      ],
      "notes": "Valida se o documento informado pertence ao cliente da conversa, usando documento e telefone.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "4c9a5ea5-c5f1-4886-969b-0f8aa843dc33",
              "leftValue": "={{$json.CprfValido && $json.TelefoneValido}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "4aa68638-ae57-4f63-a196-c1cb948cc014",
      "name": "If Validation OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3340,
        640
      ],
      "notes": "Permite continuar apenas quando documento e telefone forem validados com sucesso.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Parse Intent\"].json;\nconst flow = context.resolvedFlow || context.nextFlow || context.conversationFlow || 'segunda_via_boleto';\nreturn [\n  {\n    json: {\n      ...context,\n      replyText: 'Nao consegui validar o CPF/CNPJ com o telefone desta conversa. Por favor, revise os dados ou aguarde atendimento humano.',\n      logIntent: flow === 'alteracao_vencimento' ? 'alteracao_vencimento' : 'segunda_via_boleto'\n    }\n  }\n];"
      },
      "id": "1d74ec64-8b26-4f6f-89eb-4ad2977b1015",
      "name": "Build Validation Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        780
      ],
      "notes": "Informa ao cliente quando nao foi possivel validar o documento com o telefone da conversa.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/GetBoletoByCprf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Cprf",
              "value": "={{$node[\"Parse Intent\"].json.document}}"
            },
            {
              "name": "TenantId",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "af469c89-2356-482d-9542-ee438c6f2016",
      "name": "Get Boleto By Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        600
      ],
      "notes": "Busca o boleto vinculado ao documento informado para dar continuidade ao atendimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Parse Intent\"].json;\nconst flow = context.resolvedFlow || context.nextFlow || context.conversationFlow || 'segunda_via_boleto';\nconst boletos = $json.Boletos || [];\nconst boleto = boletos[0];\nif (!boleto) {\n  return [\n    {\n      json: {\n        ...context,\n        canUpdate: false,\n        replyText: flow === 'alteracao_vencimento' ? 'Nao localizamos um boleto elegivel para alteracao de vencimento neste momento. Em breve um operador dara continuidade ao atendimento.' : 'Nao localizamos um boleto para reenvio neste momento. Em breve um operador dara continuidade ao atendimento.',\n        logIntent: flow === 'alteracao_vencimento' ? 'alteracao_vencimento' : 'segunda_via_boleto'\n      }\n    }\n  ];\n}\nconst currentDate = new Date(`${boleto.Vencimento}T00:00:00Z`);\ncurrentDate.setUTCDate(currentDate.getUTCDate() + Number(context.defaultDelayDays || 3));\nconst newDueDate = currentDate.toISOString().slice(0, 10);\nreturn [\n  {\n    json: {\n      ...context,\n      resolvedFlow: flow,\n      canUpdate: true,\n      boletoId: boleto.Identificador,\n      tenantId: 1,\n      currentDueDate: boleto.Vencimento,\n      newDueDate,\n      linhaDigitavel: boleto.LinhaDigitavel,\n      logIntent: flow === 'alteracao_vencimento' ? 'alteracao_vencimento' : 'segunda_via_boleto'\n    }\n  }\n];"
      },
      "id": "2f88574f-3a8b-47b5-b9e1-54f853944017",
      "name": "Prepare Due Date Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3820,
        600
      ],
      "notes": "Prepara os dados do boleto, a nova data e a resposta conforme o tipo de solicitacao.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f7b250c7-6053-4f9f-b2e0-b29c36ecfa44",
              "leftValue": "={{$json.canUpdate}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ac570493-ef92-4fbb-a4d1-456dc79da018",
      "name": "If Can Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4060,
        600
      ],
      "notes": "Verifica se o boleto encontrado pode ser tratado automaticamente no fluxo.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/UpdateBoletoDueDate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "BoletoId",
              "value": "={{$json.boletoId}}"
            },
            {
              "name": "TenantId",
              "value": "={{$json.tenantId}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ RequestedDocument: $json.document, RequestedPhone: String($node[\"Normalize Incoming Message\"].json.rawPayload.remoteJidAlt || $node[\"Normalize Incoming Message\"].json.rawPayload._data?.remoteJidAlt || $node[\"Normalize Incoming Message\"].json.rawPayload._data?.key?.remoteJidAlt || $node[\"Normalize Incoming Message\"].json.phone || '').replace(/@s\\.whatsapp\\.net$/i, '').replace(/@c\\.us$/i, '').replace(/@lid$/i, ''), CurrentDueDate: $json.currentDueDate, NewDueDate: $json.newDueDate, Reason: 'Perda ou esquecimento de boleto', Channel: 'whatsapp', RequestedBy: 'cliente' }) }}",
        "options": {}
      },
      "id": "0a7a52c6-f796-4d56-a6df-307d7348a019",
      "name": "Update Due Date",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4300,
        540
      ],
      "notes": "Registra a prorrogacao do vencimento do boleto no mock da API.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const context = $item(0).$node[\"Prepare Due Date Update\"].json;\nconst flow = context.resolvedFlow || context.nextFlow || context.conversationFlow || 'segunda_via_boleto';\nconst closingText = 'Agradecemos o seu contato com a Nippon Elevadores. Este atendimento foi encerrado. Se precisar, estamos a disposicao.';\nconst replyText = flow === 'alteracao_vencimento'\n  ? `Solicitacao concluida. Prorrogamos o vencimento do seu boleto para ${context.newDueDate}. Linha digitavel: ${context.linhaDigitavel}\\n\\n${closingText}`\n  : `Localizamos seu boleto e prorrogamos o vencimento para ${context.newDueDate}. Linha digitavel: ${context.linhaDigitavel}\\n\\n${closingText}`;\nreturn [\n  {\n    json: {\n      ...context,\n      replyText,\n      logIntent: flow === 'alteracao_vencimento' ? 'alteracao_vencimento' : 'segunda_via_boleto'\n    }\n  }\n];"
      },
      "id": "d9bf8c3f-d65d-4891-8374-73a8e8b25020",
      "name": "Build Success Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4540,
        540
      ],
      "notes": "Monta a resposta final com a linha digitavel, confirmacao da solicitacao e encerramento do atendimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{$env.WAHA_API_KEY || 'changeme'}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session: $json.session || 'default', chatId: $json.chatId, text: $json.replyText }) }}",
        "options": {}
      },
      "id": "82cc7038-ed75-4f16-81a6-fc3fd2e8d021",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        500
      ],
      "notes": "Envia a resposta final do bot para o cliente no WhatsApp.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/ChatbotLog",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, DocumentoInformado: $json.document || null, Role: 'assistant', Message: $json.replyText, Intent: $json.logIntent, Channel: 'whatsapp', Metadata: { chatId: $json.chatId, classificationReason: $json.classificationReason || '' } }) }}",
        "options": {}
      },
      "id": "dd8ab6eb-613a-45d4-8eb7-94022563b022",
      "name": "Log Outbound Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5020,
        500
      ],
      "notes": "Registra no banco a mensagem enviada ao cliente e a intencao atendida.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/ClearConversationState",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "5930daa6-2901-49df-b2f1-182621b4f024",
      "name": "Clear Conversation State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        340
      ],
      "notes": "Encerra a sessao atual limpando o estado salvo da conversa.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      needsVisionExtraction: Boolean($json.hasImage && $json.mediaUrl && !$json.document)\n    }\n  }\n];"
      },
      "id": "2cfe4587-cc97-4686-a1b2-visioninput0001",
      "name": "Detect Media Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        540
      ],
      "notes": "Identifica quando a mensagem contem imagem do boleto para ativar a extra??o documental.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5a84f10a-vision-need-true",
              "leftValue": "={{$json.needsVisionExtraction}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "7eef9a02-9b5d-4f9e-bd8d-visionif00002",
      "name": "If Vision Extraction Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2380,
        540
      ],
      "notes": "Decide se a extra??o por imagem precisa ser executada antes da classificacao da mensagem.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/ExtractDocumentFromWhatsAppImage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ MediaUrl: $json.mediaUrl, MimeType: $json.mediaMimeType, Caption: $json.text || \"\", PassThrough: $json }) }}",
        "options": {}
      },
      "id": "6aa31dd2-e3fd-4f5f-885b-visionhttp0003",
      "name": "Extract Document From Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        400
      ],
      "notes": "Envia a imagem do boleto para o servico de OCR e IA local e tenta localizar o CPF ou CNPJ do pagador.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "86ec8e9b-vision-found-true",
              "leftValue": "={{Boolean($json.document)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "909df828-2980-4d67-b999-visionif00004",
      "name": "If Vision Document Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        400
      ],
      "notes": "Verifica se a extracao por imagem encontrou um documento valido para continuar o atendimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      replyText: 'Nao consegui identificar o CPF ou CNPJ na imagem. Se preferir, envie o documento digitado ou uma foto mais legivel do boleto.',\n      logIntent: 'ask_document'\n    }\n  }\n];"
      },
      "id": "ba9da80a-f128-4544-bca3-visionfail005",
      "name": "Build Image Document Failure Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        260
      ],
      "notes": "Responde ao cliente quando a imagem nao permite identificar o documento com seguranca.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const nextItem = { ...$json };\nif (nextItem.documentSource === 'image_ollama' && !String(nextItem.text || '').trim()) {\n  nextItem.text = 'foto do boleto';\n}\nreturn [{ json: nextItem }];"
      },
      "id": "0ee0c627-4a86-4a9d-a70d-preparectx006",
      "name": "Prepare Classification Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        620
      ],
      "notes": "Ajusta o contexto da mensagem para a classificacao de intencao, inclusive quando o documento veio por imagem.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const normalized = ($json.text || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/\\s+/g, ' ').trim();\nconst digits = normalized.replace(/\\D/g, '');\nconst hasDocument = /(\\d{14}|\\d{11})/.test(digits);\nconst secondViaKeywords = ['boleto', '2 via', 'segunda via', 'reenviar', 'reenvio', 'linha digitavel'];\nconst dueDateKeywords = ['alteracao de vencimento', 'alterar vencimento', 'mudar vencimento', 'prorrogar vencimento', 'prorrogar vencimento', 'boleto venceu', 'boleto vencido'];\nconst handoffKeywords = ['humano', 'atendente', 'operador', 'suporte'];\nconst greetingKeywords = ['oi', 'ola', 'bom dia', 'boa tarde', 'boa noite', 'preciso de ajuda', 'quero ajuda', 'quero falar com voces', 'quero atendimento', 'ola tudo bem'];\nconst hasDirectIntent = Boolean($json.hasImage || hasDocument || secondViaKeywords.some((keyword) => normalized.includes(keyword)) || dueDateKeywords.some((keyword) => normalized.includes(keyword)) || handoffKeywords.some((keyword) => normalized.includes(keyword)));\nconst isGenericGreeting = greetingKeywords.some((keyword) => normalized === keyword || normalized.includes(keyword));\nconst shouldSendWelcome = ($json.conversationState === 'idle' || !$json.conversationStateFound) && !hasDirectIntent && Boolean(normalized) && isGenericGreeting;\nreturn [{ json: { ...$json, shouldSendWelcome } }];"
      },
      "id": "31ce5689-7850-43d2-a6cb-8d2d0f888001",
      "name": "Detect Welcome Menu Need",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        420
      ],
      "notes": "Identifica quando a mensagem e um primeiro contato generico e deve receber a saudacao com menu.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "welcome-need-true",
              "leftValue": "={{$json.shouldSendWelcome}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "31ce5689-7850-43d2-a6cb-8d2d0f888002",
      "name": "If Should Send Welcome",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2140,
        420
      ],
      "notes": "Decide se envia a mensagem de boas-vindas ou se segue direto para a interpretacao da intencao.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, replyText: 'Ola! Bem-vindo(a) ao atendimento da Nippon Elevadores.\\n\\nEste canal pode auxiliar com assuntos de contas a receber. No momento, voce pode escolher uma das opcoes abaixo:\\n1. Solicitar segunda via de boleto\\n2. Solicitar alteracao de vencimento\\n3. Falar sobre outro assunto\\n\\nResponda com o numero da opcao desejada.\\nCaso necessario, um atendente dara continuidade ao seu atendimento.', logIntent: 'welcome_menu' } }];"
      },
      "id": "31ce5689-7850-43d2-a6cb-8d2d0f888003",
      "name": "Build Welcome Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        280
      ],
      "notes": "Monta a mensagem inicial da Nippon Elevadores com as opcoes do menu de atendimento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/SetConversationState",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, CurrentState: 'awaiting_menu_selection', ActiveFlow: '', LastIntent: 'welcome_menu', Context: { lastUserMessage: $json.text, requestedAt: new Date().toISOString() }, ExpiresInHours: $json.conversationStateTtlHours || 12, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "31ce5689-7850-43d2-a6cb-8d2d0f888004",
      "name": "Set Awaiting Menu State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        280
      ],
      "notes": "Salva o estado aguardando a escolha do menu para continuar a conversa na proxima mensagem.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "show-welcome-menu",
              "leftValue": "={{$json.intent}}",
              "rightValue": "show_welcome_menu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "31ce5689-7850-43d2-a6cb-8d2d0f888005",
      "name": "If Show Welcome Menu",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        540
      ],
      "notes": "Repete o menu quando o cliente esta na etapa de escolha e envia uma mensagem invalida ou generica.",
      "notesInFlow": true
    },
    {
      "id": "5c0d782f-b984-448e-a7bb-9e9dfe0413be",
      "name": "Nota Geral - Chatbot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        40
      ],
      "parameters": {
        "content": "## Chatbot de Contas a Receber\n\nEste workflow atende clientes da Nippon Elevadores pelo WhatsApp.\n\n### O que ele faz\n- envia saudacao inicial com menu quando o primeiro contato e generico\n- permite que o cliente seja direto, sem depender do menu\n- trata segunda via de boleto\n- trata alteracao de vencimento\n- aceita CPF/CNPJ digitado ou foto do boleto\n- encaminha outros assuntos para operador humano\n\n### Resultado esperado\nAo final, o cliente recebe a resposta automatizada, o atendimento e registrado e a sessao e encerrada.",
        "width": 860,
        "height": 260,
        "color": 7
      }
    },
    {
      "id": "7e992848-d45e-4c67-a204-329f17605776",
      "name": "Nota - Entrada e Contexto",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        120
      ],
      "parameters": {
        "content": "## Entrada e contexto\n\nEste bloco recebe a mensagem do WAHA, normaliza o payload, registra a interacao e recupera o estado atual da conversa para decidir a proxima etapa do atendimento.",
        "width": 520,
        "height": 220,
        "color": 5
      }
    },
    {
      "id": "bf39ad6c-308c-4036-b5f9-c89b38588cc9",
      "name": "Nota - Menu e Intencao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1860,
        120
      ],
      "parameters": {
        "content": "## Menu e interpretacao da intencao\n\nAqui o fluxo decide se deve enviar a mensagem de boas-vindas, repetir o menu ou seguir direto com a solicitacao do cliente.\n\nAs intencoes principais sao:\n- segunda via de boleto\n- alteracao de vencimento\n- consulta na base de conhecimento para outros assuntos\n- encaminhamento para operador quando nao houver resposta",
        "width": 620,
        "height": 260,
        "color": 6
      }
    },
    {
      "id": "ca91c4a9-a479-42d0-a2c0-7c5078893945",
      "name": "Nota - Documento e Imagem",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        840
      ],
      "parameters": {
        "content": "## Documento e imagem do boleto\n\nQuando o cliente informa CPF/CNPJ digitado, o fluxo extrai o documento diretamente.\n\nQuando o cliente envia uma foto do boleto, o workflow chama o servico de OCR e IA local para localizar o CPF/CNPJ antes de continuar o atendimento.",
        "width": 700,
        "height": 260,
        "color": 4
      }
    },
    {
      "id": "b5c29dec-8c65-4e1d-ab2b-684aed9f923f",
      "name": "Nota - Validacao e Resposta",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3540,
        960
      ],
      "parameters": {
        "content": "## Validacao, atualizacao e encerramento\n\nDepois da identificacao do cliente, o workflow valida documento e telefone, localiza o boleto, atualiza o vencimento quando necessario, envia a resposta final no WhatsApp, registra o atendimento e limpa o estado da conversa.",
        "width": 760,
        "height": 280,
        "color": 3
      }
    }
  ],
  "connections": {
    "WAHA Webhook": {
      "main": [
        [
          {
            "node": "Normalize Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Incoming Message": {
      "main": [
        [
          {
            "node": "Log Inbound Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Inbound Chat": {
      "main": [
        [
          {
            "node": "Get MVP Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MVP Config": {
      "main": [
        [
          {
            "node": "Get Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation State": {
      "main": [
        [
          {
            "node": "Merge Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Config": {
      "main": [
        [
          {
            "node": "Detect Opt Out Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Opt Out Command": {
      "main": [
        [
          {
            "node": "If Opt Out Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Opt Out Command": {
      "main": [
        [
          {
            "node": "Set WhatsApp Opt Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect Welcome Menu Need",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set WhatsApp Opt Out": {
      "main": [
        [
          {
            "node": "Build Opt Out Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Opt Out Reply": {
      "main": [
        [
          {
            "node": "Clear Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Document": {
      "main": [
        [
          {
            "node": "Detect Media Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "If Show Welcome Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Ask Document": {
      "main": [
        [
          {
            "node": "Build Ask Document Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Second Via",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ask Document Reply": {
      "main": [
        [
          {
            "node": "Set Awaiting Document State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Awaiting Document State": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Outbound Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Second Via": {
      "main": [
        [
          {
            "node": "Validate Document And Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Knowledge Base": {
      "main": [
        [
          {
            "node": "If KB Answer Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If KB Answer Found": {
      "main": [
        [
          {
            "node": "Build KB Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Fallback Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build KB Reply": {
      "main": [
        [
          {
            "node": "Clear Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Fallback Reply": {
      "main": [
        [
          {
            "node": "Clear Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Document And Phone": {
      "main": [
        [
          {
            "node": "If Validation OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Validation OK": {
      "main": [
        [
          {
            "node": "Get Boleto By Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Error Reply": {
      "main": [
        [
          {
            "node": "Clear Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Boleto By Document": {
      "main": [
        [
          {
            "node": "Prepare Due Date Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Due Date Update": {
      "main": [
        [
          {
            "node": "If Can Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Can Update": {
      "main": [
        [
          {
            "node": "Update Due Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Due Date": {
      "main": [
        [
          {
            "node": "Build Success Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Reply": {
      "main": [
        [
          {
            "node": "Clear Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Conversation State": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Outbound Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Media Input": {
      "main": [
        [
          {
            "node": "If Vision Extraction Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Vision Extraction Needed": {
      "main": [
        [
          {
            "node": "Extract Document From Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Classification Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document From Image": {
      "main": [
        [
          {
            "node": "If Vision Document Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Vision Document Found": {
      "main": [
        [
          {
            "node": "Prepare Classification Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Image Document Failure Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Document Failure Reply": {
      "main": [
        [
          {
            "node": "Set Awaiting Document State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Classification Context": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Welcome Menu Need": {
      "main": [
        [
          {
            "node": "If Should Send Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Send Welcome": {
      "main": [
        [
          {
            "node": "Build Welcome Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Welcome Reply": {
      "main": [
        [
          {
            "node": "Set Awaiting Menu State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Awaiting Menu State": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Outbound Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Show Welcome Menu": {
      "main": [
        [
          {
            "node": "Build Welcome Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Ask Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "6984fa08-6611-4e0f-bf30-2fa8e861f901",
  "meta": {
    "templateDescription": "Chatbot de contas a receber da Nippon Elevadores com atendimento inicial via WhatsApp, menu de boas-vindas, segunda via de boleto, alteracao de vencimento, envio de foto do boleto, consulta a base de conhecimento e fallback para operador humano."
  },
  "pinData": {},
  "tags": [
    {
      "name": "chatbot"
    },
    {
      "name": "contas a receber"
    },
    {
      "name": "whatsapp"
    },
    {
      "name": "nippon elevadores"
    }
  ]
}
