n8n-workflows/cobranca-diaria.json
{
  "name": "MVP - Cobranca Diaria WhatsApp",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 8,
              "minute": 0
            }
          ]
        }
      },
      "id": "0c7d88ae-7ec9-4e86-a4f5-3eb88c431001",
      "name": "Disparo Diario 08h",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "notes": "Dispara automaticamente a rotina diaria de cobranca no horario configurado.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://api:3000/internal/v1/MvpConfig",
        "options": {}
      },
      "id": "fb2b9d0a-2d57-4955-bc89-4edc64459002",
      "name": "Buscar Config MVP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "notes": "Busca os parametros operacionais do MVP, como horario, janela de envio e mensagens padrao.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst finalDate = new Date(today);\nfinalDate.setDate(finalDate.getDate() - 5);\nconst initialDate = new Date(today);\ninitialDate.setDate(initialDate.getDate() - 90);\nconst format = (value) => value.toISOString().slice(0, 10);\nreturn [\n  {\n    json: {\n      key: 'demo',\n      tenantId: 1,\n      dataInicial: format(initialDate),\n      dataFinal: format(finalDate),\n      initialMessage: $json.InitialWhatsAppMessage,\n      fallbackMessage: $json.DefaultFallbackMessage\n    }\n  }\n];"
      },
      "id": "6bd43fcb-36ee-44c2-8a86-90d7f28ff003",
      "name": "Montar Janela de Datas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "notes": "Calcula a regra de vencimento para identificar os boletos que entram na cobranca do dia.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/GetContasReceberByVencimento",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "={{$json.key}}"
            },
            {
              "name": "DataInicial",
              "value": "={{$json.dataInicial}}"
            },
            {
              "name": "DataFinal",
              "value": "={{$json.dataFinal}}"
            }
          ]
        },
        "options": {}
      },
      "id": "8d88f593-fa45-4df6-9a97-f6aef2e83004",
      "name": "Buscar Contas Vencidas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "notes": "Consulta na API os titulos vencidos que se enquadram na regra de inadimplencia.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const settings = $item(0).$node[\"Montar Janela de Datas\"].json;\nconst accounts = ($json.Dados || []).filter((entry) => entry.Conta?.Situacao === 'EmAberto');\nreturn accounts.map((entry) => ({\n  json: {\n    key: settings.key,\n    tenantId: settings.tenantId,\n    initialMessage: settings.initialMessage,\n    contaId: entry.Conta.Id,\n    clienteId: entry.Pagador.Id,\n    clienteNome: entry.Pagador.Nome,\n    cprf: entry.Pagador.Cnpj || entry.Pagador.Cpf,\n    vencimento: entry.Conta.DataVencimento,\n    total: entry.Conta.Total,\n    historico: entry.Conta.Historico,\n    documento: entry.Conta.Documento,\n    situacao: entry.Conta.Situacao\n  }\n}));"
      },
      "id": "f1dcb06f-e8cb-4ac2-92dd-57cb27c47005",
      "name": "Expandir Contas Vencidas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ],
      "notes": "Quebra a lista de inadimplentes em itens individuais para processamento um a um.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/GetContatoCliente",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "={{$json.key}}"
            },
            {
              "name": "ClienteId",
              "value": "={{$json.clienteId}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2cdfefb4-c47a-4b2a-991d-1d58dd1fe006",
      "name": "Buscar Contatos do Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        300
      ],
      "notes": "Busca os contatos do cliente para identificar o telefone que recebera a cobranca.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://api:3000/Liftflex_API/rest/v2/GetBoletoByCprf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Cprf",
              "value": "={{$node[\"Expandir Contas Vencidas\"].json.cprf}}"
            },
            {
              "name": "TenantId",
              "value": "={{$node[\"Expandir Contas Vencidas\"].json.tenantId}}"
            }
          ]
        },
        "options": {}
      },
      "id": "22b44377-4361-4c60-b3f5-51b54bcae007",
      "name": "Buscar Boleto por CPF/CNPJ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "notes": "Localiza o boleto correspondente ao cliente para montar a mensagem de cobranca.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const boletoItems = $input.all();\nconst accountItems = $items('Expandir Contas Vencidas');\nconst contactItems = $items('Buscar Contatos do Cliente');\nconst charges = [];\n\nfor (let index = 0; index < boletoItems.length; index += 1) {\n  const account = accountItems[index]?.json;\n  const contactsResponse = contactItems[index]?.json || {};\n  if (!account) continue;\n\n  const contacts = contactsResponse.Contatos || [];\n  const defaultContact = contacts[0];\n  const phone = defaultContact?.ContatosTelefone?.[0]?.Telefone;\n  if (!phone) continue;\n\n  const boletos = boletoItems[index].json.Boletos || [];\n  const boleto = boletos.find((item) => item.Vencimento === account.vencimento) || boletos[0];\n  if (!boleto) continue;\n\n  const amount = Number(account.total || 0).toFixed(2).replace('.', ',');\n  const chatId = phone.includes('@') ? phone : phone + '@c.us';\n\n  charges.push({\n    json: {\n      ...account,\n      phone,\n      chatId,\n      boletoId: boleto.Identificador,\n      linhaDigitavel: boleto.LinhaDigitavel,\n      cliente_nome: account.clienteNome,\n      documento: account.documento,\n      vencimento: account.vencimento,\n      valor: amount,\n      linha_digitavel: boleto.LinhaDigitavel,\n    },\n    pairedItem: { item: index },\n  });\n}\n\nreturn charges;"
      },
      "id": "b34c31a0-1fd4-4eff-b8fd-bd45f6db5008",
      "name": "Preparar Cobranca WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "notes": "Monta a mensagem de cobranca e prepara telefone, chat e dados do boleto para envio.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/RenderizarTemplate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Chave: 'cobranca_inicial', Canal: 'whatsapp', Variaveis: { cliente_nome: $json.cliente_nome, documento: $json.documento, vencimento: $json.vencimento, valor: $json.valor, linha_digitavel: $json.linha_digitavel }, PassThrough: $json }) }}",
        "options": {}
      },
      "id": "c4d5e6f7-8901-4234-9abc-def123456789",
      "name": "Renderizar Mensagem de Cobranca",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        300
      ],
      "notes": "Renderiza o template configuravel de cobranca inicial com os dados do titulo.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/CheckWhatsAppPolicy",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Telefone: $json.phone, Message: $json.Conteudo, PolicyType: 'campaign', PassThrough: $json }) }}",
        "options": {}
      },
      "id": "4ec94f94-cdc2-4431-922e-a80e3d391008",
      "name": "Verificar Politica de Envio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        300
      ],
      "notes": "Aplica as politicas de seguranca, como limite diario, cooldown e bloqueio por repeticao.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1e1a9c0d-c31f-4a0f-9d7e-bd35fe193a10",
              "leftValue": "={{$json.Allowed}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "bc1b48b1-1a69-41bd-820d-e2ea15924009",
      "name": "Envio Permitido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2340,
        300
      ],
      "notes": "Permite o envio somente quando a politica de comunicacao aprovar a cobranca.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{$env.WAHA_API_KEY || 'changeme'}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session: 'default', chatId: $node[\"Preparar Cobranca WhatsApp\"].json.chatId, text: $node[\"Renderizar Mensagem de Cobranca\"].json.Conteudo }) }}",
        "options": {}
      },
      "id": "5e4e8ab8-375d-42c6-9542-e43b5b4da009",
      "name": "Enviar Cobranca WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        240
      ],
      "notes": "Envia a cobranca inicial ao cliente pelo WhatsApp. onError continua o lote mesmo se o WAHA recusar um numero invalido/inexistente.",
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/UpdateWhatsAppBoletoMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "BoletoId",
              "value": "={{$node[\"Preparar Cobranca WhatsApp\"].json.boletoId}}"
            },
            {
              "name": "TenantId",
              "value": "={{$node[\"Preparar Cobranca WhatsApp\"].json.tenantId}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Status: true, Message: 'Mensagem enviada via workflow n8n', SentText: $node[\"Renderizar Mensagem de Cobranca\"].json.Conteudo, Category: 'collection_initial', PolicyType: 'campaign', Metadata: { reasonCode: $json.ReasonCode } }) }}",
        "options": {}
      },
      "id": "8a365ef5-97b8-4c8d-8b82-81d23849f010",
      "name": "Registrar Status do Envio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        240
      ],
      "notes": "Registra no banco o resultado do envio para auditoria e acompanhamento.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/Liftflex_API/rest/v2/UpdateWhatsAppBoletoMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "BoletoId",
              "value": "={{$node[\"Preparar Cobranca WhatsApp\"].json.boletoId}}"
            },
            {
              "name": "TenantId",
              "value": "={{$node[\"Preparar Cobranca WhatsApp\"].json.tenantId}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Status: false, Message: $json.ReasonMessage, SentText: '', Category: 'collection_initial', PolicyType: 'campaign', Metadata: { reasonCode: $json.ReasonCode } }) }}",
        "options": {}
      },
      "id": "d2e3f4a5-6b7c-489d-9ef0-123456789abc",
      "name": "Registrar Bloqueio de Envio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        420
      ],
      "notes": "Quando a politica anti-spam bloqueia o envio, registra a tentativa (status false) para que os indicadores de efetividade reflitam todas as tentativas, nao so os sucessos.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/v1/RegistrarAcompanhamentoCobranca",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ContaReceberId: $node[\"Preparar Cobranca WhatsApp\"].json.contaId, ClienteId: $node[\"Preparar Cobranca WhatsApp\"].json.clienteId, TenantId: $node[\"Preparar Cobranca WhatsApp\"].json.tenantId }) }}",
        "options": {}
      },
      "id": "b1a2c3d4-5e6f-4789-9abc-def012345678",
      "name": "Registrar Acompanhamento de Cobranca",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        380
      ],
      "notes": "Marca o titulo como em cobranca ativa, usado depois pela reconciliacao de pagamentos para inferir baixa por ausencia.",
      "notesInFlow": true
    },
    {
      "id": "5556c496-3b62-434c-9b26-b042d3a7e730",
      "name": "Nota Geral - Cobranca Diaria",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        20
      ],
      "parameters": {
        "content": "## Cobranca diaria automatica\n\nEste workflow executa a rotina de cobranca inicial da Nippon Elevadores.\n\n### O que ele faz\n- roda automaticamente no horario configurado\n- identifica clientes com boletos vencidos\n- busca contatos e boleto correspondente\n- aplica politicas de seguranca antes do envio\n- dispara a mensagem de cobranca via WhatsApp\n- registra o resultado para auditoria\n\n### Resultado esperado\nPadronizar e acelerar o primeiro contato com inadimplentes.",
        "width": 860,
        "height": 260,
        "color": 7
      }
    },
    {
      "id": "9dfe04af-6398-49bb-9a21-23bb51a6214d",
      "name": "Nota - Consulta de Inadimplentes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        40
      ],
      "parameters": {
        "content": "## Consulta de inadimplentes\n\nEste bloco busca os parametros do MVP, calcula a janela de vencimento e consulta os titulos vencidos que entram na cobranca do dia.",
        "width": 620,
        "height": 220,
        "color": 5
      }
    },
    {
      "id": "6e611c0c-2209-4192-a3a3-e6c7d097b4c6",
      "name": "Nota - Preparacao da Cobranca",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        40
      ],
      "parameters": {
        "content": "## Preparacao da cobranca\n\nAqui o workflow expande os registros, busca os contatos do cliente, localiza o boleto e monta a mensagem de cobranca com os dados necessarios para envio.",
        "width": 700,
        "height": 240,
        "color": 4
      }
    },
    {
      "id": "f2867e9b-0975-47fe-a6e2-1ebd9cf0adef",
      "name": "Nota - Politica e Registro",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2860,
        40
      ],
      "parameters": {
        "content": "## Politica de envio e registro\n\nAntes de enviar, o fluxo verifica limite diario, cooldown e regras anti-spam. Se permitido, envia a mensagem pelo WhatsApp e registra o status da cobranca no banco.",
        "width": 700,
        "height": 240,
        "color": 3
      }
    }
  ],
  "connections": {
    "Disparo Diario 08h": {
      "main": [
        [
          {
            "node": "Buscar Config MVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Config MVP": {
      "main": [
        [
          {
            "node": "Montar Janela de Datas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Janela de Datas": {
      "main": [
        [
          {
            "node": "Buscar Contas Vencidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contas Vencidas": {
      "main": [
        [
          {
            "node": "Expandir Contas Vencidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir Contas Vencidas": {
      "main": [
        [
          {
            "node": "Buscar Contatos do Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contatos do Cliente": {
      "main": [
        [
          {
            "node": "Buscar Boleto por CPF/CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Boleto por CPF/CNPJ": {
      "main": [
        [
          {
            "node": "Preparar Cobranca WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Cobranca WhatsApp": {
      "main": [
        [
          {
            "node": "Renderizar Mensagem de Cobranca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar Mensagem de Cobranca": {
      "main": [
        [
          {
            "node": "Verificar Politica de Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Politica de Envio": {
      "main": [
        [
          {
            "node": "Envio Permitido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio Permitido?": {
      "main": [
        [
          {
            "node": "Enviar Cobranca WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Bloqueio de Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Cobranca WhatsApp": {
      "main": [
        [
          {
            "node": "Registrar Status do Envio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Acompanhamento de Cobranca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "91af5c72-0df1-4fdb-a921-4b143bb7e101",
  "meta": {
    "templateDescription": "Workflow de cobranca diaria da Nippon Elevadores que identifica inadimplentes, busca contatos e boleto, aplica politicas anti-spam e envia a cobranca inicial por WhatsApp."
  },
  "pinData": {},
  "tags": [
    {
      "name": "cobranca"
    },
    {
      "name": "contas a receber"
    },
    {
      "name": "whatsapp"
    },
    {
      "name": "nippon elevadores"
    }
  ]
}
